<!DOCTYPE html>
<html>
<head>
	<title>Programming hub</title>
	<link rel="stylesheet" type="text/css" href="asset/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="asset/css/custom/index_custom.css">

	<!-- Push this css -->
	<link rel="stylesheet" type="text/css" href="asset/css/custom/project_details.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="asset/project_slider/engine1/style.css" />
	<script type="text/javascript" src="asset/project_slider/engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->
</head>
<body>

<!-- -------------------------------	MENU	------------------------------------------ -->
<section class="top_menu">
	<div class="d-none d-md-block container-fluid">
		<div class="row">
			<div class="col-md-4 ">
				<div class="logo"><img src="asset/image/index.png"></div>
			</div>
			<div class="col-md-8">
				<div class="menu">
					<ul>
						<li><a href="#" class="active">Home</a></li>
						<li><a href="#">About Me</a></li>
						<li><a href="#">Learning</a></li>
						<li><a href="#project">Projects</a></li>
						<li><a href="#contact">Contact Us</a></li>
						<li><a href="#">Login/Registration</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- -------------------------	Responsive	------------------------------------- -->
	<div class="d-block d-md-none container-fluid">
		<div class="row">
			<div class="col-sm-4 col-4">
				<div class="logo"><img src="asset/image/index.png"></div>
			</div>
			<div class="col-sm-8 col-8">
				<div class="menu">
					<i class="fas fa-bars menu_show" onclick="return show_menu();"></i>
					<i class="fas fa-times menu_close" onclick="return hide_menu();" style="display: none;"></i>
				</div>
			</div>
			<div class="resp_menu">
				<ul>
					<li><a href="#" class="active">Home</a></li>
					<li><a href="#">About Me</a></li>
					<li><a href="#">Learning</a></li>
					<li><a href="#project">Projects</a></li>
					<li><a href="#contact">Contact Us</a></li>
					<li><a href="#">Login/Registration</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- -------------------------	Responsive End	--------------------------------- -->
</section>
<!-- -------------------------------	MENU End	-------------------------------------- -->
<section class="gap"></section>

<!-- -------------------------------	Learning	-------------------------------------- -->
<section class="aboutme">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12 title_area">
						<span>Project heading</span>
						<hr />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 details_area">
						<!-- =======================	Image slider	============================ -->
						<div class="row">
							<div class="col-md-12">
								<div class="project_slider">
									<!-- Start WOWSlider.com BODY section -->
									<div id="wowslider-container1">
										<div class="ws_images"><ul>
												<li><img src="asset/project_slider/data1/images/codingappsoxp.jpg" alt="coding-apps-oxp" title="coding-apps-oxp" id="wows1_0"/></li>
												<li><a href="http://wowslider.com/vi"><img src="asset/project_slider/data1/images/globalcodingstandards2960x460.jpg" alt="css slideshow" title="global-coding-standards-2-960x460" id="wows1_1"/></a></li>
												<li><img src="asset/project_slider/data1/images/screenshot_68.png" alt="Screenshot (68)" title="Screenshot (68)" id="wows1_2"/></li>
											</ul>
										</div>
										<div class="ws_bullets"><div>
											<a href="#" title="coding-apps-oxp"><span><img src="asset/project_slider/data1/tooltips/codingappsoxp.jpg" alt="coding-apps-oxp"/>1</span></a>
											<a href="#" title="global-coding-standards-2-960x460"><span><img src="asset/project_slider/data1/tooltips/globalcodingstandards2960x460.jpg" alt="global-coding-standards-2-960x460"/>2</span></a>
											<a href="#" title="Screenshot (68)"><span><img src="asset/project_slider/data1/tooltips/screenshot_68.png" alt="Screenshot (68)"/>3</span></a>
										</div></div>
										<div class="ws_shadow"></div>
									</div>	
									<!-- End WOWSlider.com BODY section -->
								</div>
							</div>
						</div>
						<!-- =======================	Image slider	============================ -->
						<div class="row">
							<div class="col-md-12">
								<p class="project_sort_desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
							</div>
						</div>
						<div class="accordion" id="accordionExample">
							<div class="card custom_card">
								<div class="card-header heading_style" id="headingOne">
									<h2 class="mb-0">
										<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Main feartures</button>
									</h2>
								</div>

								<!-- <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"> -->
									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body card_detils">
										<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
									</div>
								</div>
							</div>
							<div class="card custom_card">
								<div class="card-header heading_style" id="headingTwo">
									<h2 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Use software and language</button>
									</h2>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body card_detils">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
									</div>
								</div>
							</div>
							<div class="card custom_card">
								<div class="card-header heading_style" id="headingThree">
									<h2 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">Demo or Buy</button>
									</h2>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body card_detils">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</section>
<!-- -------------------------------	learning End	---------------------------------- -->

<!-- --------------------------------	Contact	------------------------------------------ -->
<section id="contact" class="contact">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 title_area">
				<span>Contact With Us</span>
				<hr />
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row project_content">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<div class="address_detls">
					<i class="fas fa-map-marker-alt"></i>
					<span class="address">Kolkata, India</span>
				</div>
				<div class="address_detls">
					<i class="fas fa-mobile-alt"></i>
					<span class="ph_no">+91 8961613356 / +91 9123046263</span>
				</div>
				<div class="address_detls">
					<i class="fas fa-envelope"></i>
					<span class="email">info@programminhub.com</span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="contact_form">
					<form>
						<label class="imp">Name</label>
						<input type="text" name="name" placeholder="Name:">
						<label class="imp">Email Id</label>
						<input type="text" name="name" placeholder="Email:">
						<label>Subject</label>
						<input type="text" name="name" placeholder="Subject:">
						<label class="imp">Message</label>
						<textarea name="message" placeholder="Message"></textarea>

						<input type="submit" name="send_message" value="Send">
					</form>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</section>
<!-- --------------------------------	contact End	-------------------------------------- -->

<!-- --------------------------------	Footer	------------------------------------------ -->
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 foot_text">&copy; 2019 Subhajit Dey. All rights reserved.</div>
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<div class="social_links">
					<a href=""><i class="fab fa-facebook-f facebook"></i></a>
					<a href=""><i class="fab fa-linkedin-in linkedin"></i></a>
					<a href=""><i class="fab fa-whatsapp wa"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- --------------------------------	Footer End	-------------------------------------- -->


<script type="text/javascript" src="asset/project_slider/engine1/wowslider.js"></script>
<script type="text/javascript" src="asset/project_slider/engine1/script.js"></script>

<script type="text/javascript" src="asset/js/bootstrap.min.js"></script>
<script type="text/javascript" src="asset/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="asset/js/custom/index_custom.js"></script>
</body>
</html>